apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: kyma-oidc-connect-demo
  namespace: default
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  creationTimestamp: null
  name: kyma-oidc-connect-demo
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kyma-oidc-connect-demo
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: ga-oidc:abbi-gaurav
